body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    background: #202020; 
    font-family: 'Arial', sans-serif;
    color: white;
    padding-top: 5%; 
}

.content {
    text-align: center;
    transform: translateY(20px);
    opacity: 0;
    animation: floatUp 1s forwards;
}

h1 {
    margin: 0 0 30px 0;
    font-size: 6rem; 
    font-weight: bold; 
}

.links a {
    margin: 0 15px;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    color: white; 
    text-decoration: none; 
}

.links a:hover {
    transform: translateY(-5px);
}

.icon img {
    height: 50px; 
    transition: filter 0.3s, transform 0.3s;
}

.icon:hover img {
    filter: brightness(1.5) drop-shadow(0 0 15px white); 
    transform: scale(1.1); 
}



.project {
    background-color: #2a2a2a; 
    padding: 20px;
    margin: 20px auto;
    width: 80%; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
    display: block; 
    text-decoration: none; 
    color: white; 
    transition: background-color 0.3s, transform 0.3s; 
}

.project:hover {
    background-color: #333; 
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); 
}

.project-image {
    max-width: 100%;
    height: auto; 
    border-radius: 5px; 
}

.project-title {
    color: white; 
    margin: 10px 0; 
}

.project-description {
    color: #ccc; 
    font-size: 1rem; 
}

.back-arrow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem; 
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    z-index: 10; 
}

@keyframes floatUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
