body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: flex-start; /* Align to the top */
    justify-content: center;
    background: #202020; /* Dark grey background */
    font-family: 'Arial', sans-serif;
    color: white;
    padding-top: 5%; /* Add some space at the top */
}

.content {
    text-align: center;
    transform: translateY(20px);
    opacity: 0;
    animation: floatUp 1s forwards;
}

h1 {
    margin: 0 0 30px 0;
    font-size: 6rem; /* Much larger text for the name */
    font-weight: bold; /* Optional: makes the text bold */
}

.links a {
    margin: 0 15px;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
}

.links a:hover {
    transform: translateY(-5px);
}

.icon img {
    height: 50px; /* Icon size */
    transition: filter 0.3s, transform 0.3s;
}

.icon:hover img {
    filter: brightness(1.5) drop-shadow(0 0 15px white); 
    transform: scale(1.1); 
}



.project {
    background-color: #2a2a2a; /* Slightly lighter than the page background for contrast */
    padding: 20px;
    margin: 20px auto;
    width: 80%; /* Set a max-width for each project widget */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
    display: block; /* Change display to block to make the entire area clickable */
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set text color for the content inside the link */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

.project:hover {
    background-color: #333; /* Slightly lighter background on hover */
    transform: translateY(-5px); /* Slight lift effect on hover */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Enhanced shadow on hover */
}

.project-image {
    max-width: 100%; /* Make sure the image is responsive and doesn't overflow its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Slight rounding of corners on the image */
}

.project-title {
    color: white; /* Title color */
    margin: 10px 0; /* Space between image and title */
}

.project-description {
    color: #ccc; /* Lighter text color for the description */
    font-size: 1rem; /* Adjust the size as needed */
}

.back-arrow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem; /* Adjust size as needed */
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    z-index: 10; /* Ensure it's above other content */
}

@keyframes floatUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
